﻿@{
    ViewData["Title"] = "About Us";
}
<div class="riot_about_us">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <section class="menu">
                    <ul class="nav nav-pills mb-3 " id="riot_about_us-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-aboutus-tab" data-toggle="tab" href="#pills-aboutus" role="tab"
                               aria-controls="pills-aboutus" aria-selected="true">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-policy-tab" data-toggle="tab" href="#pills-policy" role="tab"
                               aria-controls="pills-policy" aria-selected="false">Policy & Terms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-help-tab" data-toggle="tab" href="#pills-help" role="tab"
                               ria-controls="pills-help" aria-selected="false">Help Center</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-md-8">
                <section class="info">
                    <div class="tab-content" id="riot_about_us-tabContent">
                        <div class="tab-pane fade show active" id="pills-aboutus" role="tabpanel" aria-labelledby="pills-aboutus-tab">
                            <h2>Rio Coporation</h2>
                            <p>
                                Rio Coporation has been formed and developed for hundreds of years, developing in many rich countries such as the US, South Africa, Hong Kong, Macau... With the main industries being Real Estate, 5-star Hotel and Resort, Casino, Banking and finance.
                                <br />
                                Rio's capitalization is over 30 billion USD, owning a system of 5-star resorts and hotels in developed countries, Rio is constantly growing with huge assets.
                                <br />
                                In Asia, Rio is aiming with 3 main services, entertainment industry, online gaming, and banking and finance with a development plan in the next 10 years, Rio affirming its pioneering position in the entertainment service industry.
                                <br />
                                Particularly in the gaming industry, Rio is ranked 5th in the top 10 largest, most prestigious and largest casino floors in the world.
                            </p>
                            <h2>Coming to Rio is coming to the paradise of luxury and standard</h2>
                            <p>
                                Rio is known for the paradise of luxury, you can spend billions of dollars for 1 night, step into any hotel, resort or casino in the Rio system, you will feel paradise. That confirms the prestige and position of Rio on the world map in the fields of entertainment. Americans often hear from each other, once entering Rio is the elite, where there are enough super services. grant. A frequent destination of the world's tycoons, Rio Coporation's market capitalization is up to 30 billion USD. Rio Coporation also owns many banks and financial funds in the world, Rio Coporation's services are guaranteed by Banking an Finacial, so it is safe to join Rio's services.
                            </p>
                            <h2>Rio Casino and Resort</h2>
                            <p>
                                Rio is named after a famous city from Brazil. Due to the influence of Latin culture, so it is quite dynamic and full of life, Rio Casino is one of the 10 largest Casinos in the world, established in 1999, so far Rio Casino is present in many countries. Rio Casino in the US, Rio Casino in South Africa, Rio Casino Macau, Rio Casino Germany, Rio Casino Brazil….Rio Casino is licensed to operate legally, has been evaluated and ranked in the rankings by many reputable Gaming organizations. very high.
                                <br />
                                Rio Casino operates not only in the casino field but mainly from Real Estate, with a system of Resorts, Golf Courses, Complex Entertainment Areas and especially extremely beautiful and valuable beaches all under the jurisdiction of Rio. owned by Rio Casino.
                                <br />
                                The asset value of Rio Casino to date is estimated at up to 30 billion USD, in addition to the above fields, Rio Casino also invests in the fields of artificial intelligence, nuclear, space ...
                                <br />
                                The casino game system is also very rich with more than 1200 slots, poker and other table games. The total area of ​​the casino is up to 9000 m2 built into certain areas with different customers.
                                <br />
                                Especially at Rio All Suite Casino, it is also the venue for the "World Series of Poker". This is the biggest, most prestigious and prestigious game event in the world with prize money up to 2 billion USD. Inside the poker rooms, there is free wifi and an on-site charging port for electronic devices. At the same time, the Poker area in Rio also offers an hourly poker service. Or games with bets that change from day to day.
                                <br />
                                <br />
                                Rio All-Suite Hotel and Casino is a hotel and casino near the Las Vegas Strip in Paradise , Nevada , United States . It is owned by Eric Birnbaum and operated by Caesars Entertainment. Rio is the first resort with suites in the Las Vegas area. It is named after the city of Rio de Janeiro and is influenced by Brazilian culture. This is the casino that hosts the World Series of Poker.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-policy" role="tabpanel" aria-labelledby="pills-policy-tab">
                            <h2>Policy & Terms</h2>
                            <p>
                                Rio Coporation has been formed and developed for hundreds of years, developing in many rich countries such as the US, South Africa, Hong Kong, Macau... With the main industries being Real Estate, 5-star Hotel and Resort, Casino, Banking and finance.
                                <br />
                                Rio's capitalization is over 30 billion USD, owning a system of 5-star resorts and hotels in developed countries, Rio is constantly growing with huge assets.
                                <br />
                                In Asia, Rio is aiming with 3 main services, entertainment industry, online gaming, and banking and finance with a development plan in the next 10 years, Rio affirming its pioneering position in the entertainment service industry.
                                <br />
                                Particularly in the gaming industry, Rio is ranked 5th in the top 10 largest, most prestigious and largest casino floors in the world.
                            </p>
                            <h2>Coming to Rio is coming to the paradise of luxury and standard</h2>
                            <p>Rio is known for the paradise of luxury, you can spend billions of dollars for 1 night, step into any hotel, resort or casino in the Rio system, you will feel paradise. That confirms the prestige and position of Rio on the world map in the fields of entertainment. Americans often hear from each other, once entering Rio is the elite, where there are enough super services. grant. A frequent destination of the world's tycoons, Rio Coporation's market capitalization is up to 30 billion USD. Rio Coporation also owns many banks and financial funds in the world, Rio Coporation's services are guaranteed by Banking an Finacial, so it is safe to join Rio's services.</p>
                            <h2>Rio Casino and Resort</h2>
                            <p>
                                Rio is named after a famous city from Brazil. Due to the influence of Latin culture, so it is quite dynamic and full of life, Rio Casino is one of the 10 largest Casinos in the world, established in 1999, so far Rio Casino is present in many countries. Rio Casino in the US, Rio Casino in South Africa, Rio Casino Macau, Rio Casino Germany, Rio Casino Brazil….Rio Casino is licensed to operate legally, has been evaluated and ranked in the rankings by many reputable Gaming organizations. very high.
                                <br />
                                Rio Casino operates not only in the casino field but mainly from Real Estate, with a system of Resorts, Golf Courses, Complex Entertainment Areas and especially extremely beautiful and valuable beaches all under the jurisdiction of Rio. owned by Rio Casino.
                                <br />
                                The asset value of Rio Casino to date is estimated at up to 30 billion USD, in addition to the above fields, Rio Casino also invests in the fields of artificial intelligence, nuclear, space ...
                                <br />
                                The casino game system is also very rich with more than 1200 slots, poker and other table games. The total area of ​​the casino is up to 9000 m2 built into certain areas with different customers.
                                <br />
                                Especially at Rio All Suite Casino, it is also the venue for the "World Series of Poker". This is the biggest, most prestigious and prestigious game event in the world with prize money up to 2 billion USD. Inside the poker rooms, there is free wifi and an on-site charging port for electronic devices. At the same time, the Poker area in Rio also offers an hourly poker service. Or games with bets that change from day to day.
                                <br />
                                <br />
                                Rio All-Suite Hotel and Casino is a hotel and casino near the Las Vegas Strip in Paradise , Nevada , United States . It is owned by Eric Birnbaum and operated by Caesars Entertainment. Rio is the first resort with suites in the Las Vegas area. It is named after the city of Rio de Janeiro and is influenced by Brazilian culture. This is the casino that hosts the World Series of Poker.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-help" role="tabpanel" aria-labelledby="pills-help-tab">
                            <div class="pills-help_menu">
                                <ul class="nav nav-pills mb-3 " id="riot_about_us_help-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-game-tab" data-toggle="tab" href="#pills-game" role="tab"
                                           aria-controls="pills-game" aria-selected="true">Gaming</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-deposit-tab" data-toggle="tab" href="#pills-deposit" role="tab"
                                           aria-controls="pills-deposit" aria-selected="false">DEPOSIT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-withdrawal-tab" data-toggle="tab" href="#pills-withdrawal" role="tab"
                                           ria-controls="pills-withdrawal" aria-selected="false">WITHDRAWAL</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-account-tab" data-toggle="tab" href="#pills-account" role="tab"
                                           ria-controls="pills-account" aria-selected="false">Account</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-security-tab" data-toggle="tab" href="#pills-security" role="tab"
                                           ria-controls="pills-security" aria-selected="false">security</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-promotion-tab" data-toggle="tab" href="#pills-promotion" role="tab"
                                           ria-controls="pills-promotion" aria-selected="false">promotion</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content mb_6" id="riot_about_us_help-tabContent">
                                <div class="tab-pane fade show active" id="pills-game" role="tabpanel" aria-labelledby="pills-game-tab">
                                    <div class="collapse_container">
                                        @foreach (var package in new List<int> { 1, 2, 3, 4, 5, 6, 7 })
                                        {
                                            <div class="item" collapse_item>
                                                <div class="title_box toggle_detail_btn">
                                                    <i class="ri-wechat-fill"></i>
                                                    <div class="info">
                                                        <p class="title mr_auto">@package. On what applications can RIO be used?</p>
                                                        @*<p>2022-03-06   15:09:56</p>*@
                                                        <i class="icon_open icon-arrow-down-14"></i>
                                                    </div>
                                                </div>
                                                <div class="content_box">
                                                    Dear Guest! Recently, there has been a phenomenon that customers have lost/stolen accounts due to providing account information and personal documents to other people or superior agents. Therefore, Rio recommends that customers do not provide personal documents and account information to any person, nor do Rio staff arbitrarily ask customers to provide information unless the customer needs to correct the information. account and participate in promotions. Any case where a customer loses an account due to a customer providing information to someone else Rio will not be responsible for it. Have fun playing and good luck!
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-deposit" role="tabpanel" aria-labelledby="pills-deposit-tab">
                                    <div class="collapse_container">
                                        @foreach (var package in new List<int> { 1, 2, 3, 4, 5, 6, 7 })
                                        {
                                            <div class="item" collapse_item>
                                                <div class="title_box toggle_detail_btn">
                                                    <i class="ri-wechat-fill"></i>
                                                    <div class="info">
                                                        <p class="title mr_auto">@package. On what applications can RIO be used?</p>
                                                        @*<p>2022-03-06   15:09:56</p>*@
                                                        <i class="icon_open icon-arrow-down-14"></i>
                                                    </div>
                                                </div>
                                                <div class="content_box">
                                                    Dear Guest! Recently, there has been a phenomenon that customers have lost/stolen accounts due to providing account information and personal documents to other people or superior agents. Therefore, Rio recommends that customers do not provide personal documents and account information to any person, nor do Rio staff arbitrarily ask customers to provide information unless the customer needs to correct the information. account and participate in promotions. Any case where a customer loses an account due to a customer providing information to someone else Rio will not be responsible for it. Have fun playing and good luck!
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-withdrawal" role="tabpanel" aria-labelledby="pills-withdrawal-tab">
                                    <div class="collapse_container">
                                        @foreach (var package in new List<int> { 1, 2, 3, 4, 5, 6, 7 })
                                        {
                                            <div class="item" collapse_item>
                                                <div class="title_box toggle_detail_btn">
                                                    <i class="ri-wechat-fill"></i>
                                                    <div class="info">
                                                        <p class="title mr_auto">@package. On what applications can RIO be used?</p>
                                                        @*<p>2022-03-06   15:09:56</p>*@
                                                        <i class="icon_open icon-arrow-down-14"></i>
                                                    </div>
                                                </div>
                                                <div class="content_box">
                                                    Dear Guest! Recently, there has been a phenomenon that customers have lost/stolen accounts due to providing account information and personal documents to other people or superior agents. Therefore, Rio recommends that customers do not provide personal documents and account information to any person, nor do Rio staff arbitrarily ask customers to provide information unless the customer needs to correct the information. account and participate in promotions. Any case where a customer loses an account due to a customer providing information to someone else Rio will not be responsible for it. Have fun playing and good luck!
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
                                    <div class="collapse_container">
                                        @foreach (var package in new List<int> { 1, 2, 3, 4, 5, 6, 7 })
                                        {
                                            <div class="item" collapse_item>
                                                <div class="title_box toggle_detail_btn">
                                                    <i class="ri-wechat-fill"></i>
                                                    <div class="info">
                                                        <p class="title mr_auto">@package. On what applications can RIO be used?</p>
                                                        @*<p>2022-03-06   15:09:56</p>*@
                                                        <i class="icon_open icon-arrow-down-14"></i>
                                                    </div>
                                                </div>
                                                <div class="content_box">
                                                    Dear Guest! Recently, there has been a phenomenon that customers have lost/stolen accounts due to providing account information and personal documents to other people or superior agents. Therefore, Rio recommends that customers do not provide personal documents and account information to any person, nor do Rio staff arbitrarily ask customers to provide information unless the customer needs to correct the information. account and participate in promotions. Any case where a customer loses an account due to a customer providing information to someone else Rio will not be responsible for it. Have fun playing and good luck!
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-security" role="tabpanel" aria-labelledby="pills-security-tab">
                                    <div class="collapse_container">
                                        @foreach (var package in new List<int> { 1, 2, 3, 4, 5, 6, 7 })
                                        {
                                            <div class="item" collapse_item>
                                                <div class="title_box toggle_detail_btn">
                                                    <i class="ri-wechat-fill"></i>
                                                    <div class="info">
                                                        <p class="title mr_auto">@package. On what applications can RIO be used?</p>
                                                        @*<p>2022-03-06   15:09:56</p>*@
                                                        <i class="icon_open icon-arrow-down-14"></i>
                                                    </div>
                                                </div>
                                                <div class="content_box">
                                                    Dear Guest! Recently, there has been a phenomenon that customers have lost/stolen accounts due to providing account information and personal documents to other people or superior agents. Therefore, Rio recommends that customers do not provide personal documents and account information to any person, nor do Rio staff arbitrarily ask customers to provide information unless the customer needs to correct the information. account and participate in promotions. Any case where a customer loses an account due to a customer providing information to someone else Rio will not be responsible for it. Have fun playing and good luck!
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-promotion" role="tabpanel" aria-labelledby="pills-promotion-tab">
                                    <div class="collapse_container">
                                        @foreach (var package in new List<int> { 1, 2, 3, 4, 5, 6, 7 })
                                        {
                                            <div class="item" collapse_item>
                                                <div class="title_box toggle_detail_btn">
                                                    <i class="ri-wechat-fill"></i>
                                                    <div class="info">
                                                        <p class="title mr_auto">@package. On what applications can RIO be used?</p>
                                                        @*<p>2022-03-06   15:09:56</p>*@
                                                        <i class="icon_open icon-arrow-down-14"></i>
                                                    </div>
                                                </div>
                                                <div class="content_box">
                                                    Dear Guest! Recently, there has been a phenomenon that customers have lost/stolen accounts due to providing account information and personal documents to other people or superior agents. Therefore, Rio recommends that customers do not provide personal documents and account information to any person, nor do Rio staff arbitrarily ask customers to provide information unless the customer needs to correct the information. account and participate in promotions. Any case where a customer loses an account due to a customer providing information to someone else Rio will not be responsible for it. Have fun playing and good luck!
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        

        $(document).off(`click`, `.toggle_detail_btn`).on(`click`, `.toggle_detail_btn`, function (e) {
            if ($(e.currentTarget).parent().is("[collapse_item]")) {
                $(e.currentTarget).parent().removeAttr(`collapse_item`);
            } else {
                $(e.currentTarget).parent().attr(`collapse_item`, "");
            }
        });
        TabCustom(`#riot_about_us-tab`);
        //TabCustom(`#riot_about_us_help-tabContent`);

        function TabCustom(mainQuery, data, options = {}) {
            //add default hash
            if ($(`${mainQuery} .active[data-toggle="tab"]`).length && window.location.hash == "") {
                window.location.hash = $(`${mainQuery} .active[data-toggle="tab"]`).attr("href") || $(`${mainQuery} .active[data-toggle="tab"]`).attr("data-target");
            }

            //goto tab hash
            $(`${mainQuery} [data-toggle="tab"][href="${window.location.hash}"]`).tab('show');
            $(`${mainQuery} [data-toggle="tab"][data-target="${window.location.hash}"]`).tab('show');

            //check hash render table
            renderTable(window.location.hash);

            //on change tab
            $(`${mainQuery} *[data-toggle="tab"]`).on('shown.bs.tab', function (e) {
                //console.log(e.target);// newly activated tab
                //console.log(e.relatedTarget);// previous active tab

                // store the currently selected tab in the hash value
                debugger
                if (history.pushState) {
                    window.history.pushState(null, null, $(e.currentTarget).attr('href') || $(e.currentTarget).attr('data-target'));
                }
                else {
                    window.location.hash = $(e.currentTarget).attr('href') || $(e.currentTarget).attr('data-target');
                }

                renderTable(window.location.hash);
                //onChangeTabFunc
                if (options.onChangeTab) options.onChangeTab(mainQuery, data);
                if (options.onChangeTabAndFirstRun) options.onChangeTabAndFirstRun(mainQuery, data);
            });
            if (options.onChangeTabAndFirstRun) options.onChangeTabAndFirstRun(mainQuery, data);
            function renderTable(hash) {
                if (!data) return;
                data.forEach(i => {
                    if (hash == `#${i.hash}`) {
                        i.init();
                        i.init = i.reload;
                    }
                });
            }
        }
    });

</script>
}