﻿@{
    ViewData["Title"] = "Home";
}

<div class="home_container">
    <div class="container">
        <section class="home_1">
            <div class="row g_8">
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <h2 class="mb_8"><b>Rio Coporation – Asia</b> Game and Entertainment</h2>
                        <div class="menu_container mb_6">
                            <div class="menu">
                                <a>Hotel-resort</a>
                                <a>game online</a>
                                <a>bank-finance</a>
                            </div>
                        </div>
                        <small class="big">We welcome you to Rio Asia, the symbol of luxury and prestige. With quality products, we are confident to bring the playground with the best experience to our customers.</small>
                        <div class="action mt_8">
                            <button class="btn_custom btn_blue">Sign up for free</button>
                            <button class="btn_custom">Explore the game</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <img class="w-100 mt_6 mt_md_0" src="~/img/headAndFooter/Frame 1000009208.png" />
                </div>
            </div>
        </section>
    </div>
    <section class="home_2">
        <div class="container">
            @*<div class="info_container">
                    <div class="info">
                        <div class="item">
                            <p>900M+</p>
                            <small>Client</small>
                        </div>
                        <div class="item">
                            <p>900M+</p>
                            <small>Client</small>
                        </div>
                        <div class="item">
                            <p>900M+</p>
                            <small>Client</small>
                        </div>
                        <div class="item">
                            <p>900M+</p>
                            <small>Client</small>
                        </div>
                    </div>
                </div>*@
            <div class="info_container">
                <div class="row g_0 info">
                    <div class=" col-md-3">
                        <div class="item">
                            <p>900M+</p>
                            <small>Client</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <p>38+</p>
                            <small>Nation</small>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        <div class="item">
                            <p>29+</p>
                            <small>Years of experience</small>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        <div class="item">
                            <p>$30 billion+</p>
                            <small>Market capitalization</small>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row g_0 info">
                    <div class="col-sm-6 col-md-3">
                        <div class="item">
                            <p>900M+</p>
                            <small>Client</small>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item">
                            <p>900M+</p>
                            <small>Client</small>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item">
                            <p>900M+</p>
                            <small>Client</small>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="item">
                            <p>900M+</p>
                            <small>Client</small>
                        </div>
                    </div>
                </div>*@
        </div>
    </section>

    <section class="home_3">
        <div class="container">
            <h2 class="mb_4">What We Offer?</h2>
            <img class="mb_6" src="~/img/Group 9590.png" />
            <small>
                Welcome to Rio Asia - The symbol of luxury and prestige. We specialize in providing services on relaxation and entertainment, <br />
                helping customers have interesting experiences.
            </small>
            <div class="item_container mt_10">
                <div class="item">
                    <div class="icon"><i class="icon-building-3"></i></div>
                    <p>Hotel & Resort</p>
                    <small>Super-luxury, super-classy Hotel and Resort 5 system for those who know how to enjoy – and for members of Rio Asia</small>
                </div>
                <div class="item">
                    <div class="icon orange"><i class="icon-game"></i></div>
                    <p>Game Online</p>
                    <small>Online Game system with thousands of entertaining games of the world's leading reputable bookmakers. Transparency- Prestige and standards.</small>
                </div>
                <div class="item">
                    <div class="icon green"><i class="icon-bank4"></i></div>
                    <p>Bank & Finace</p>
                    <small>Banks and International Financial Institutions will accompany partners in all activities, demonstrating responsibility and minimizing risks.</small>
                </div>
            </div>
        </div>
    </section>
    <section class="home_3 home_4">
        <div class="container pt_25">
            <h2 class="mb_4">5 year investment plan</h2>
            <img class="mb_6" src="~/img/Group 9590.png" />
            <small style="max-width: 650px;">
                Goal Rio Asia strives to become a pioneer in the entertainment industry and bring a healthy playground to customers.
            </small>
        </div>

        <div class="time_line_container">
            <div class="container d-block py_12 pb_25">
                <div class="time_line">
                    <div class="line_of_time"> </div>
                    <div class="item">
                        <div class="box">
                            <p>Building Rio in Vietnam</p>
                            <small>Building a strategy for the whole of Asia with the ambition to be the biggest game supplier</small>
                        </div>
                        <div class="time_point">
                            <div class="point"></div>
                            <div class="title">June 2022</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <p>Building Rio in Vietnam</p>
                            <small>Building a strategy for the whole of Asia with the ambition to be the biggest game supplier</small>
                        </div>
                        <div class="time_point">
                            <div class="point"></div>
                            <div class="title">June 2022</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <p>Building Rio in Vietnam</p>
                            <small>Building a strategy for the whole of Asia with the ambition to be the biggest game supplier</small>
                        </div>
                        <div class="time_point">
                            <div class="point"></div>
                            <div class="title">June 2022</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <p>Access to Asian market</p>
                            <small>Building a strategy for the whole of Asia with the ambition to be the biggest game supplier</small>
                        </div>
                        <div class="time_point line_two">
                            <div class="point"></div>
                            <div class="title">June 2022</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <p>Building Rio in Vietnam</p>
                            <small>Building a strategy for the whole of Asia with the ambition to be the biggest game supplier</small>
                        </div>
                        <div class="time_point line_two">
                            <div class="point"></div>
                            <div class="title">June 2022</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="home_3 home_5">
        <div class="container pt_25">
            <h2 class="mb_4">How we work?</h2>
            <img class="mb_6" src="~/img/Group 9590.png" />
            <small style="max-width: 650px;">
                With the criterion that the customer is king, we create playgrounds that bring interesting experiences.
            </small>

            <div class="work pt_15">
                <div class="item">
                    <img class="arrow_img" src="~/img/Vector 7.png" />
                    <img src="~/img/Group 9594.png" />
                    <p>Integrity</p>
                    <div class="small">
                        <small>Integrity, Honesty, Honesty in conduct and in all dealings.</small>
                    </div>
                </div>
                <div class="item">
                    <img class="arrow_img revert" src="~/img/Vector 7.png" />
                    <img src="~/img/Group 9593.png" />
                    <p>Respect</p>
                    <div class="small">
                        <small>Respect yourself, Respect your colleagues, Cooperate with respect.</small>
                    </div>
                </div>
                <div class="item">
                    <img class="arrow_img" src="~/img/Vector 7.png" />
                    <img src="~/img/Group 9592.png" />
                    <p>Ethics</p>
                    <div class="small">
                        <small>Respect established standards and act ethically.</small>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/Group 9591.png" />
                    <p>Compliance</p>
                    <div class="small">
                        <small>Disciplinary compliance with all established criteria.</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home_6">
        <div class="container">
            <div class="row g_8">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <h2>Regulations when joining the Rio Gaming Online ecosystem</h2>
                    <div class="info">
                        <div class="item">
                            <img src="~/img/check-mark 1.png" />
                            <p><b>Compliance with terms and conditions</b></p>
                        </div>
                        <div class="item">
                            <img src="~/img/check-mark 1.png" />
                            <p><b>Rio's Responsibility</b></p>
                        </div>
                        <div class="item">
                            <img src="~/img/check-mark 1.png" />
                            <p><b>Disclaimer</b></p>
                        </div>
                        <div class="item">
                            <img src="~/img/check-mark 1.png" />
                            <p><b>Security and privacy</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center mt_6 mt_md_0">
                    <img class="w-100" src="~/img/home_6_1.png" />
                </div>
            </div>
        </div>
    </section>
    <section class="home_7">
        <div class="container">
            <div class="row g_8">
                <div class="col-md-6 d-flex flex-column justify-content-center mt_6 mt_md_0 order-1 order-md-0">
                    <img class="w-100" src="~/img/e37ee56803b54aa69a3c5a0f24457a1d90ccf4d516d271-WRG2KT.png" />
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center order-0 order-md-1">
                    <h2>Why choose Rio Asia?</h2>
                    <div class="row g_6 mt_5 mt_md_10">
                        <div class="col-lg-6">
                            <h3 class="mb_2 mb_md_4">History begins</h3>
                            <small>Established for more than 100 years, present in over 38 countries with diverse activities. With a solid foundation, Rio is thriving around the world.</small>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="mb_2 mb_md_4">History begins</h3>
                            <small>Established for more than 100 years, present in over 38 countries with diverse activities. With a solid foundation, Rio is thriving around the world.</small>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="mb_2 mb_md_4">History begins</h3>
                            <small>Established for more than 100 years, present in over 38 countries with diverse activities. With a solid foundation, Rio is thriving around the world.</small>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="mb_2 mb_md_4">History begins</h3>
                            <small>Established for more than 100 years, present in over 38 countries with diverse activities. With a solid foundation, Rio is thriving around the world.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home_8">
        <div class="container">
            <h2 class="mb_3" style="max-width:600px;">RIO ASIA - Deals for Pioneers</h2>
            <small>For the pioneers, we offer a number of typical packages that make it easy for everyone to make a choice.</small>
            <div class="grade mt_6">
                @* --item-- *@
                <div class="item">
                    <h3>Platinum Grade</h3>
                    <small>Lifetime Platinum Card</small>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Millions of dollars in income</p>
                    </div>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Initial Support $20,000</p>
                    </div>
                    <button class="btn_custom btn_border_blue">Learn more</button>
                </div>
                @* --item-- *@
                <div class="item" active>
                    <div class="banner">Popular</div>
                    <h3>Diamond Grade</h3>
                    <small>Lifetime Diamond Card</small>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Millions of dollars in income</p>
                    </div>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Initial Support $15,000</p>
                    </div>
                    <button class="btn_custom btn_border_blue">Learn more</button>
                </div>
                @* --item-- *@
                <div class="item">
                    <h3>Gold Grade</h3>
                    <small>Lifetime Gold Card</small>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Millions of dollars in income</p>
                    </div>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Initial Support $10,000</p>
                    </div>
                    <button class="btn_custom btn_border_blue">Learn more</button>
                </div>
                @* --item-- *@
                <div class="item">
                    <h3>Silver Grade</h3>
                    <small>Lifetime Silver Card</small>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Millions of dollars in income</p>
                    </div>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Initial Support $5,000</p>
                    </div>
                    <button class="btn_custom btn_border_blue">Learn more</button>
                </div>
                @* --item-- *@
                <div class="item">
                    <h3>Bronze Grade</h3>
                    <small>Lifetime Bronze Card</small>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Millions of dollars in income</p>
                    </div>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Initial Support $3,000</p>
                    </div>
                    <button class="btn_custom btn_border_blue">Learn more</button>
                </div>
                @* --item-- *@
                <div class="item">
                    <h3>Grade Z</h3>
                    <small>Free to join</small>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Free registration</p>
                    </div>
                    <div class="check">
                        <img src="~/img/check-mark 1.png" />
                        <p>Initial Support $500</p>
                    </div>
                    <button class="btn_custom btn_border_blue">Learn more</button>
                </div>
            </div>
        </div>
    </section>
    <section class="home_3 home_5 home_9">
        <div class="container pt_25">
            <h2 class="mb_4">Guidelines and regulations</h2>
            <img class="mb_6" src="~/img/Group 9590.png" />

            <div class="work pt_15">
                <div class="item">
                    <img src="~/img/home_9/Mask group.png" />
                    <div class="rating">
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                    </div>
                    <div class="small">
                        <small>
                            Instructions for using the service of 5-star hotels and resorts around
                            the world
                        </small>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/home_9/Mask group (1).png" />
                    <div class="rating">
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                    </div>
                    <div class="small">
                        <small>Instructions for using the online game service and entertainment games</small>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/home_9/Mask group (2).png" />
                    <div class="rating">
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                    </div>
                    <div class="small">
                        <small>Instructions for using Banking and Finance services for partners</small>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/home_9/Mask group (3).png" />
                    <div class="rating">
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                        <img src="~/img/home_9/star.png" />
                    </div>
                    <div class="small">
                        <small>guide partners to contact to cooperate with Rio Coporation Asia</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home_3 home_10">
        <div class="container pt_25">
            <h2 class="mb_4">Latest news</h2>
            <img class="mb_6" src="~/img/Group 9590.png" />
            <div class="wrapper_slick">
                <div class="carousel">
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251.png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251 (1).png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251 (2).png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251.png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251 (1).png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251 (2).png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251.png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251 (1).png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251 (2).png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251.png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251 (1).png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>
                    <div>
                        <div class="new_item">
                            <img src="~/img/home_10/Rectangle 251 (2).png" />
                            <h3>Rio Coporation Billion-dollar thinking in the Asian market</h3>
                            <small>Recognizing that the Asian market is extremely potential, Rio Coporation has built a long-term development strategy in the fields of banking, finance and online gaming entertainment industry, the entertainment industry is really becoming an industry " good business” in Asia.</small>
                            <button class="btn_custom btn_border_blue">Learn more</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            if ($(window).width() <= 768) {
                $('.carousel').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    dots: true,
                    centerMode: false,
                    autoplay: true,
                    autoplaySpeed: 2000
                });
            } else if ($(window).width() <= 1024) {
                $('.carousel').slick({
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    dots: true,
                    centerMode: false,
                    autoplay: true,
                    autoplaySpeed: 2000
                });
            } else {
                $('.carousel').slick({
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    dots: true,
                    centerMode: false,
                    autoplay: true,
                    autoplaySpeed: 2000
                });
            }
        });
    </script>
}
