﻿
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SF-Pro-Display-Regular.otf') format('opentype');
}

html, body, header, footer {
    font-family: SFProDisplay;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}

header .navbar .container .action_box {
    gap: 16px;
}

@media (max-width: 768px) {
    /*//= > mobile md*/
    header .navbar .container .action_box {
        gap: 8px;
    }
}

/*#region i_custom*/
i {
    font-size: var(--size);
    line-height: var(--size);
}
/*#endregion i_custom*/
/*#region btn_custom*/
.btn_custom {
    --px: 24px;
    --py: 12px;
    --bg: linear-gradient(180deg, #F1F1F1 0%, #D3D4D7 100%);
    --bg1: #D3D4D7;
    --bg2: #D3D4D7;
    --br: 24px;
    --color: #303133;
    --boder-width: 0;
    --boder-color: none;
    padding: var(--py) var(--px);
    background: var(--bg);
    border-radius: var(--br);
    outline: none !important;
    border: none;
    color: var(--color);
    position: relative;
    /*    border: var(--boder-width) solid;
    border-image-slice: 1;
    border-image-source: var(--boder-color);*/
    /*    border: double 1em transparent;
    border-radius: 30px;
    background-image: linear-gradient(white, white), linear-gradient(to right, green, gold);
    background-origin: border-box;
    background-clip: content-box, border-box;*/
}

    .btn_custom::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: var(--br);
        padding: var(--boder-width); /* control the border thickness */
        background: var(--boder-color);
        -webkit-mask: linear-gradient(var(--bg1) 0 0) content-box, linear-gradient(var(--bg2) 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }

    .btn_custom:hover, .btn_custom[active] {
        --bg: linear-gradient(180deg, #D3D4D7 0%, #F1F1F1 100%);
    }

    .btn_custom.btn_blue {
        --bg: linear-gradient(180deg, #64B5FF 0%, #0079E9 100%);
        --color: #fff;
    }

        .btn_custom.btn_blue:hover, .btn_custom.btn_blue[active] {
            --bg: linear-gradient(180deg, #0079E9 0%, #64B5FF 100%);
        }

    .btn_custom.btn_border_blue {
        --bg: #fff;
        --px: 24px;
        --py: 12px;
        --boder-width: 1px;
        --boder-color: linear-gradient(180deg, #64B5FF 0%, #0079E9 100%);
    }

        .btn_custom.btn_border_blue:hover, .btn_custom.btn_border_blue[active] {
            --bg: linear-gradient(180deg, #64B5FF 0%, #0079E9 100%);
            --bg1: #64B5FF;
            --bg2: #0079E9;
            --color: #fff;
        }

@media (max-width: 768px) {
    /*//= > mobile md*/
    .btn_custom:not(.just_a_class_never_use) {
        --px: 16px;
        --py: 8px;
    }
}
/*#endregion btn_custom*/
/*#region select2 custom*/
.select2-dropdown.select2-dropdown--below {
    min-width: 150px;
}

.select2-container--open .select2-dropdown--below {
    border-top: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.select2_custom ~ .select2.select2-container .select2-selection {
    border: 0;
    outline: 0;
    padding: 6px;
    background: #ebeef4;
    border-radius: 21px;
    height: auto;
    display: flex;
    align-items: center;
}

    .select2_custom ~ .select2.select2-container .select2-selection .select2-selection__rendered {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #303133;
    }

.select2_custom ~ .select2.select2-container .select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.select2_custom.select2_white ~ .select2.select2-container .select2-selection {
    background: #fcfcfd;
    border: 1px solid #e6e8ec;
    border-radius: 8px;
    min-height: 42px;
    padding-right: 24px;
}

    .select2_custom.select2_white ~ .select2.select2-container .select2-selection .select2-selection__rendered {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #303133;
    }

.select2_custom.select2_white ~ .select2.select2-container .select2-selection__arrow b {
    background-image: url('/img/arrowDown.svg');
    background-color: transparent;
    background-size: contain;
    border: none !important;
    height: 16px !important;
    width: 16px !important;
    margin: auto !important;
    left: -8px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

/*#endregion select2 custom*/
/*#region scroll*/
/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
/*#endregion scroll*/

/*#region header*/
header {
    position: fixed;
    width: 100%;
    z-index: 9999999999;
}

    header nav {
        border: 0 !important;
        margin: 0 !important;
    }
/*#endregion header*/
/*#region body*/
body {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    height: 100vh;
}

main {
    height: 100%;
}

body > * {
    flex: 0 0 auto;
}

body > .body {
    padding: 68px 0 0 0;
    flex: 1 1 auto;
}

footer {
    position: relative !important;
}
/*#endregion body*/
/*#region footer*/
footer {
    background: #0079E9;
}

    footer * {
        white-space: normal;
    }

    footer [item] {
        height: 100%;
        flex-direction: column;
        display: flex;
    }

        footer [item] [space] {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        footer [item] h1 {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            margin-bottom: 16px;
        }

    footer p {
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        color: #F4F5F6;
        display: flex;
        align-items: center;
        gap: 8px;
    }

@media (max-width: 768px) {
    /*//= > mobile md*/
    footer p {
        gap: 10px;
    }
}

footer [item] p i {
    font-size: 24px;
    line-height: 24px;
    color: #76C5FF;
}
/*#endregion footer*/
/*#region home*/
.home_container {
    background: #F7F9FB;
}

    .home_container section small {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #777E90;
    }

        .home_container section small.big {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #777E90;
        }

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section small {
        font-size: 12px;
        line-height: 18px;
    }

        .home_container section small.big {
            font-size: 14px;
            line-height: 18px;
        }
}

.home_container section h2 {
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #303133;
}

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: #303133;
    }
}

.home_container section h2 b {
    color: #0079E9;
}
/*#region home_1*/
.home_container section.home_1 {
    height: calc(100vh - 73px);
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section.home_1 {
        height: unset;
        display: block;
        align-items: unset;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.home_container section.home_1 .menu_container {
    width: 100%;
    overflow: hidden;
}

    .home_container section.home_1 .menu_container .menu {
        display: flex;
        flex-wrap: wrap;
        margin-left: -16px;
    }

        .home_container section.home_1 .menu_container .menu > * {
            position: relative;
            margin: 0 16px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #303133;
            cursor: pointer;
        }

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section.home_1 .menu_container .menu > * {
        font-size: 12px;
        line-height: 16px;
    }
}

.home_container section.home_1 .menu_container .menu > *:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 12px;
    background: #B1B5C3;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
}

.home_container section.home_1 .action {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
/*#endregion home_1*/
/*#region home_2*/
.home_container section.home_2 {
    background: linear-gradient(180deg, #64B5FF 0%, #0079E9 100%);
    padding: 40px 0;
}

    .home_container section.home_2 .info_container {
        /*margin: 56px 0;*/
        overflow: hidden;
    }

        .home_container section.home_2 .info_container .item {
            height: 100%;
            border-left: 1px solid #ffffff4d;
            border-top: 1px solid #ffffff4d;
            margin: -2px;
        }

        .home_container section.home_2 .info_container .info .hr {
            width: 2px;
            height: 84px;
            margin-top: 50%;
            background: #FFFFFF;
            margin-left: -2px;
            /*opacity: 0.1;*/
        }

        .home_container section.home_2 .info_container .info .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 32px;
            gap: 12px;
        }

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section.home_2 .info_container .info .item {
        padding: 24px 32px;
    }
}

.home_container section.home_2 .info_container .info .item p {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section.home_2 .info_container .info .item p {
        font-size: 32px;
    }
}

.home_container section.home_2 .info_container .info .item small {
    color: #F4F5F6;
}
/*#endregion home_2*/
/*#region home_3*/
.home_container section.home_3 {
    /*height: 100vh;*/
    background: #FFFFFF;
}

    .home_container section.home_3 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
        text-align: center;
    }

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section.home_3 .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.home_container section.home_3 .item_container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

    .home_container section.home_3 .item_container .item {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        padding: 32px;
        flex: 1 1 25%;
        min-width: 250px;
        gap: 16px;
        /*font*/
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #303133;
        /*style*/
        background: #FFFFFF;
        border-radius: 12px;
        border: 1px solid #E6E8EC;
    }

        .home_container section.home_3 .item_container .item:hover {
            box-shadow: 0px 22px 39px rgba(8, 32, 69, 0.11), 0px 17.8356px 25.7022px rgba(8, 32, 69, 0.0567621), 0px 8.09945px 11.5478px rgba(8, 32, 69, 0.0426938), 0px 1.69122px 2.33167px rgba(8, 32, 69, 0.0331131);
        }

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section.home_3 .item_container .item {
        font-size: 18px;
        gap: 8px;
    }

        .home_container section.home_3 .item_container .item .icon {
            margin-bottom: 8px;
        }
}

.home_container section.home_3 .item_container .item .icon {
    --bg1: #64B5FF;
    --bg2: #0079E9;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, var(--bg1) 0%, var(--bg2) 100%);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .home_container section.home_3 .item_container .item .icon.orange {
        --bg1: #FFC738;
        --bg2: #FF7A00;
    }

    .home_container section.home_3 .item_container .item .icon.green {
        --bg1: #A8FF64;
        --bg2: #159101;
    }

.home_container section.home_3 .item_container .item:hover .icon {
    background: linear-gradient(180deg, var(--bg2) 0%, var(--bg1) 100%);
}

.home_container section.home_3 .item_container .item .icon i {
    --size: 48px;
    color: #fff;
}
/*#endregion home_3*/
/*#region home_4*/
.home_container section.home_4 {
    background: #F7F9FB;
}

    .home_container section.home_4 .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .home_container section.home_4 .time_line_container {
        width: 100%;
        overflow: auto;
        overflow-y: hidden;
    }

        .home_container section.home_4 .time_line_container .time_line {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 120px;
            min-width: 900px;
        }

            .home_container section.home_4 .time_line_container .time_line .item {
                flex: 0 1 calc(100% / 3 - 80px);
            }

                .home_container section.home_4 .time_line_container .time_line .item .box {
                    padding: 12px 24px;
                    /*max-width:25%;*/
                    background: #FFFFFF;
                    border-radius: 16px;
                    filter: drop-shadow(0px 3px 12px rgba(111, 130, 158, 0.08));
                }

                .home_container section.home_4 .time_line_container .time_line .item:hover .box {
                    filter: drop-shadow(0px 22px 39px rgba(8, 32, 69, 0.11)) drop-shadow(0px 17.8356px 25.7022px rgba(8, 32, 69, 0.0567621)) drop-shadow(0px 8.09945px 11.5478px rgba(8, 32, 69, 0.0426938)) drop-shadow(0px 1.69122px 2.33167px rgba(8, 32, 69, 0.0331131));
                }

        .home_container section.home_4 .time_line_container .time_line {
            position: relative;
        }

            .home_container section.home_4 .time_line_container .time_line .line_of_time {
                height: 6px;
                background: #E6E8EC;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(calc(-50%));
            }

            .home_container section.home_4 .time_line_container .time_line .item {
                position: relative;
            }

                .home_container section.home_4 .time_line_container .time_line .item p {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 32px;
                    color: #303133;
                }


@media (max-width: 1440px) {
    /*//= > destop main size*/
    .home_container section.home_4 .time_line_container .time_line .item p {
        font-size: 18px;
    }
}

.home_container section.home_4 .time_line_container .time_line .item .time_point {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: -52px;
    transform: translateX(-50%) translateY(100%);
    gap: 24px;
}

    .home_container section.home_4 .time_line_container .time_line .item .time_point p {
        /*font*/
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #0079E9;
    }

    .home_container section.home_4 .time_line_container .time_line .item .time_point.line_two {
        flex-direction: column-reverse;
        bottom: unset;
        top: -52px;
        transform: translateX(-50%) translateY(-100%);
    }

    .home_container section.home_4 .time_line_container .time_line .item .time_point .point {
        background: #0079E9;
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
/*#endregion home_4*/

/*#region home_5*/
.home_container section.home_5 {
}

    .home_container section.home_5 .work {
        display: flex;
        gap: 24px;
    }

@media (max-width: 1024px) {
    /*//= > mobile xl*/
    .home_container section.home_5 .work {
        gap: 24px;
    }
}

.home_container section.home_5 .work .item {
    text-align: center;
    flex: 1 1 20%;
    position: relative;
    min-width: 250px;
}

    .home_container section.home_5 .work .item p {
        margin-top: 29px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #303133;
    }

    .home_container section.home_5 .work .item small {
        margin-top: 16px;
    }

    .home_container section.home_5 .work .item .arrow_img {
        position: absolute;
        right: 21%;
        top: 15px;
        width: 50%;
        transform: translateX(100%);
    }

        .home_container section.home_5 .work .item .arrow_img.revert {
            transform: translateX(100%) rotateX(180deg);
            top: 30px;
        }

.home_container section.home_5 .work .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .home_container section.home_5 .work .item .small {
        margin-top: 16px;
        max-width: 200px;
        width: fit-content;
    }

@media (max-width: 1398px) {
    /*//= > destop xl*/
    .home_container section.home_5 .work .item .small {
        max-width: 200px;
    }
}

@media (max-width: 1024px) {
    /*//= > mobile xl*/

    .home_container section.home_5 .work .item .arrow_img {
        display: none;
    }

    .home_container section.home_5 .work {
        flex-wrap: wrap;
    }

        .home_container section.home_5 .work .item {
            flex: 1 1 25%;
            min-width: 200px;
        }
}
/*#endregion home_5*/

/*#region home_6*/
.home_container section.home_6 {
    padding: 100px 0;
    background: #fff;
}

    .home_container section.home_6 p {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #303133;
    }

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section.home_6 p {
        font-size: 12px;
        line-height: 18px;
    }
}

.home_container section.home_6 .info {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

    .home_container section.home_6 .info .item {
        display: flex;
        gap: 12px;
    }
/*#endregion home_6*/

/*#region home_7*/
.home_container section.home_7 {
    padding: 100px 0;
    background: #F7F9FB;
}

    .home_container section.home_7 h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #303133;
    }

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section.home_7 h3 {
        font-size: 12px;
        line-height: 18px;
    }

    .home_container section.home_7 h3 {
        font-size: 12px;
        line-height: 18px;
    }
}
/*#endregion home_7*/
/*#region home_8*/
.home_container section.home_8 {
    padding: 100px 0;
    background: #fff;
}

    .home_container section.home_8 .grade {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

        .home_container section.home_8 .grade .item {
            flex: 1 1 25%;
            min-width: 250px;
            background: #FFFFFF;
            border: 1px solid #E2E5EB;
            border-radius: 12px;
            padding: 32px;
            position: relative;
            overflow: hidden;
        }

            /*.home_container section.home_8 .grade .item .banner {
                display: none;
            }

            .home_container section.home_8 .grade .item[active] .banner {
                display: block;
            }*/

            .home_container section.home_8 .grade .item .banner {
                background: linear-gradient(-90deg, #FF7A00 0%, #FFC738 100%);
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(45deg);
                position: absolute;
                top: 27px;
                right: -33px;
                height: 30px;
                width: 150px;
            }

            .home_container section.home_8 .grade .item:hover {
                border: 1px solid #E6E8EC;
                border-radius: 12px;
                filter: drop-shadow(0px 22px 39px rgba(8, 32, 69, 0.11)) drop-shadow(0px 17.8356px 25.7022px rgba(8, 32, 69, 0.0567621)) drop-shadow(0px 8.09945px 11.5478px rgba(8, 32, 69, 0.0426938)) drop-shadow(0px 1.69122px 2.33167px rgba(8, 32, 69, 0.0331131));
            }

            .home_container section.home_8 .grade .item h3 {
                font-weight: 600;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: -0.01em;
                color: #303133;
                margin-bottom: 8px;
            }

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section.home_8 .grade .item h3 {
        font-size: 20px;
        line-height: 32px;
    }
}

.home_container section.home_8 .grade .item .check {
    display: flex;
    align-items: center;
    gap: 12px;
}

    .home_container section.home_8 .grade .item .check:first-of-type {
        margin-top: 26px;
    }

    .home_container section.home_8 .grade .item .check:not(:first-of-type) {
        margin-top: 16px;
    }

    .home_container section.home_8 .grade .item .check:last-of-type {
        margin-bottom: 32px;
    }

    .home_container section.home_8 .grade .item .check p {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #303133;
    }

@media (max-width: 768px) {
    /*//= > mobile md*/
    .home_container section.home_8 .grade .item .check p {
        font-size: 13px;
        line-height: 20px;
    }
}

.home_container section.home_8 .grade .item .check small {
    /*padding-top: 26px;*/
}

/*#endregion home_8*/

/*#region home_9*/
.home_container section.home_9 {
    background: #F7F9FB;
}

    .home_container section.home_9 .rating {
        margin-top: 46px;
        margin-bottom: 20px;
    }

@media (max-width: 768px) {
    /*//= > mobile lg*/
    .home_container section.home_9 .rating {
        margin-top: 22px;
        margin-bottom: 20px;
    }
}

.home_container section.home_9 .rating > * {
    width: 24px;
}

.home_container section.home_9 .work {
    width: 100%;
    flex-wrap: wrap;
    gap: 36px;
}

@media (max-width: 768px) {
    /*//= > mobile lg*/
    .home_container section.home_9 .work {
        gap: 8px;
    }
}

.home_container section.home_9 .work .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

    .home_container section.home_9 .work .item .small {
        max-width: 250px;
        width: fit-content;
        margin-top: 0;
    }

@media (max-width: 1024px) {
    /*//= > mobile lg*/
    .home_container section.home_9 .work .item .small {
        max-width: 180px;
    }
}
/*#endregion home_9*/

/*#region home_10*/
.carousel-inner {
    pointer-events: none;
}

.home_container section.home_10 {
}

    /*    .home_container section.home_10 .news {
        display: flex;
        width: 100%;
        gap: 24px;
        z-index: 999;
        position: relative;     
    }*/
    .home_container section.home_10 .new_item {
        flex: 1 1 25%;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        text-align: start;
    }

        .home_container section.home_10 .new_item h3 {
            margin: 12px 0 16px 0;
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            color: #303133;
        }

        .home_container section.home_10 .new_item button {
            margin: 16px 0 0 0;
        }
/*#endregion home_10*/

/*#endregion home*/

/*#region slick*/
.wrapper_slick {
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.carousel {
    width: 100%;
    margin: 0px auto;
}

.slick-slide {
    margin: 10px;
}

    .slick-slide img {
        width: 100%;
        border: 2px solid #fff;
    }

.wrapper_slick .slick-dots li {
    width: 12px;
    height: 12px;
    background: #E6E8EC;
    border-radius: 10px;
    transition: .7s;
}

    .wrapper_slick .slick-dots li.slick-active {
        width: 40px;
        height: 12px;
        background: #0079E9;
        transition: .7s;
    }

    .wrapper_slick .slick-dots li button:before {
        font-size: 12px;
        color: transparent;
        width: 12px;
        height: 12px;
        /*border-radius: 10px;*/
    }

/*.wrapper_slick .slick-dots li:not(:nth-child(3n + 1)) {
    display: none;
}*/
/*#endregion slick*/

/*#region About Us*/
.riot_about_us {
    height: 100%;
    background: #F7F9FB;
    padding-top: 32px;
    padding-bottom: 32px;
}

    .riot_about_us section {
        background: #FFFFFF;
        min-height: 50vh;
        box-shadow: 0px 22px 39px rgba(8, 32, 69, 0.05);
    }

        .riot_about_us section.menu .nav.nav-pills {
            display: flex;
            flex-direction: column;
        }

            .riot_about_us section.menu .nav.nav-pills .nav-item .nav-link {
                display: flex;
                flex-direction: column;
                padding: 12px 16px;
                border-radius: 0;
                border-bottom: 1px solid #E6E8EC;
                font-weight: 500;
                font-size: 14px;
                line-height: 26px;
                color: #303133;
            }

                .riot_about_us section.menu .nav.nav-pills .nav-item .nav-link.active {
                    background: linear-gradient(180deg, #64B5FF 0%, #0079E9 100%);
                    color: #fff;
                }

        .riot_about_us section.info {
            padding: 24px;
        }

            .riot_about_us section.info h2 {
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #303133;
                margin-bottom: 12px;
            }

                .riot_about_us section.info h2:not(:first-child) {
                    margin-top: 26px;
                }

            .riot_about_us section.info p {
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #777E90;
            }
@media (max-width: 768px) {
    .riot_about_us {
        padding-top: 0;
        padding-bottom: 0;
    }
    .riot_about_us section {
        background: #FFFFFF;
        min-height: 50vh;
        box-shadow: unset;
    }
        /*//= > mobile md*/
        .riot_about_us section.menu {
            min-height: unset;
            padding: 24px;
            margin-bottom: 4px;
            overflow: auto;
        }

            .riot_about_us section.menu .nav.nav-pills {
                white-space: nowrap;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 12px;
                margin-bottom: 0 !important;
            }
                .riot_about_us section.menu .nav.nav-pills .nav-item .nav-link {
                    border-bottom: 0;
                    padding: 6px 12px;
                    background: linear-gradient(180deg, #F1F1F1 0%, #D3D4D7 100%);
                    border-radius: 24px;
                }
                    .riot_about_us section.menu .nav.nav-pills .nav-item .nav-link:hover {
                        background: linear-gradient(180deg, #D3D4D7 0%, #F1F1F1 100%);
                    }
                    .riot_about_us section.menu .nav.nav-pills .nav-item .nav-link.active {
                        background: linear-gradient(180deg, #64B5FF 0%, #0079E9 100%);
                        color: #fff;
                    }
                        .riot_about_us section.menu .nav.nav-pills .nav-item .nav-link.active:hover {
                            background: linear-gradient(180deg, #0079E9 0%, #64B5FF 100%);
                        }
}
.riot_about_us .pills-help_menu {
    width: 100%;
    overflow: auto;
}
.riot_about_us #riot_about_us_help-tab {
    flex-wrap: nowrap;
    gap: 2px;
}

    .riot_about_us #riot_about_us_help-tab .nav-item .nav-link {
        background: linear-gradient(180deg, #F1F1F1 0%, #D3D4D7 100%);
        border-radius: 8px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #303133;
    }
        .riot_about_us #riot_about_us_help-tab .nav-item .nav-link.active {
            background: linear-gradient(180deg, #64B5FF 0%, #0079E9 100%);
            border-radius: 8px;
            color: #fff;
        }

.riot_about_us .collapse_container > .item .title_box {
    display: flex;
    gap: 14px;
    padding: 10px 12px;
    cursor: pointer;
}

    .riot_about_us .collapse_container > .item .title_box i {
        --size: 20px;
        color: #b1b5c3;
    }

    .riot_about_us .collapse_container > .item .title_box .info {
        display: flex;
        gap: 14px;
        flex: 1 1 auto;
    }

        .riot_about_us .collapse_container > .item .title_box .info .title {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #303133;
        }

.riot_about_us .collapse_container > .item .content_box {
    padding: 16px;
    box-shadow: inset 0px -1px 0px #d9d9d9;
    border-radius: 12px;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #777E90;
}

.riot_about_us .collapse_container > .item:not([collapse_item]) .content_box {
    transition: transform 0.5s, opacity 0.5s, height 0.5s;
}

.riot_about_us .collapse_container > .item[collapse_item] .content_box {
    margin-bottom: 0;
    padding: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateX(24px);
    /*transition: transform 1s, opacity 1s, height 1s;
	*/
}
.riot_about_us .collapse_container > .item:not([collapse_item]) .icon_open {
    transform: rotateX(180deg);
    transition: transform .5s;
}

.riot_about_us .collapse_container > .item[collapse_item] .icon_open {
    transition: transform .5s;
}

.riot_about_us .collapse_container > .item .title_box {
    border-radius: 8px;
}

.riot_about_us .collapse_container > .item:nth-child(odd) .title_box {
    background: #f4f5f6;
}

.riot_about_us .collapse_container > .item:hover .title_box i, .riot_about_us .collapse_container > .item:hover .title_box .title {
    color: #0079e9;
}

.riot_about_us .collapse_container > .item:not([collapse_item]) .title_box {
    background: linear-gradient(180deg, #64b5ff 0%, #0079e9 100%);
}

    .riot_about_us .collapse_container > .item:not([collapse_item]) .title_box * {
        color: #fff !important;
    }
   
 
/*#endregion About Us*/
.container {
    max-width: 1440px !important;
    padding-right: 24px;
    padding-left: 24px;
}

/*#region media*/
@media (max-width: 1440px) {
    /*//= > destop main size*/
    .container {
        max-width: 1140px !important;
    }
}

@media (max-width: 1398px) {
    /*//= > destop xl*/
    .container {
        max-width: 960px !important;
    }
}

@media (max-width: 1024px) {
    /*//= > mobile lg*/
    .container {
        max-width: 720px !important;
    }
}

@media (max-width: 768px) {
    /*//= > mobile md*/
    .container {
        max-width: 540px !important;
    }
}

@media (max-width: 480px) {
    /*//= > mobile sm*/
}

/*#endregion*/


@media (max-width: 768px) {
    /*//= > mobile md*/
    .riot_about_us .container {
        max-width: unset !important;
        padding: 0;
    }
}
