﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RiotGameLanding</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/bootrap_custom.css" rel="stylesheet" />
    <link href="~/lib/iconsax/style.css" rel="stylesheet" />
    <link href="~/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" /></a>
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>*@
                @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                        </ul>
                    </div>*@
                <div class="action_box d-flex align-items-center" style="">
                    <select style="min-width:150px;" class="select2_state select2_custom">
                        <option value="en-US" data-lang="en">english</option>
                        <option value="vn" data-lang="vn">vietnamese</option>
                    </select>
                    <button class="btn_custom btn_blue" style="--px:16px; --py:6px;">Sign up for free</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="body">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <img class="py_7 py_md_6" src="~/img/logox7 1.png" />
            <div class="row g_4 g_md_16 mb_8">
                <div class="col-md-3">
                    <div item>
                        <h1>Rio Coporation - Asia</h1>
                        <div >
                            <p>Rio is known for the paradise of luxury, you can spend billions of dollars for 1 night, step into any hotel, resort or casino in the Rio system, you will feel paradise.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div item>
                        <h1>Services</h1>
                        <div >
                            <p>5 star hotels and resorts</p>
                            <p>Game online</p>
                            <p>Banking and finance</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div item>
                        <h1>Quick link</h1>
                        <div >
                            <p>Recharge Instructions</p>
                            <p>Withdrawal instructions</p>
                            <p>FAQs</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div item>
                        <h1>Contact Us</h1>
                        <div >
                            <p><i class="icon-location4"></i>6688 Flamingo Rd, Las Vegas, NV 89103, Hoa Kỳ</p>
                            <p><i class="icon-call-calling"></i>+7795562148</p>
                            <p><i class="icon-mouse-1"></i>@("@")rioassiasupport</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" style="background: #006CCF;">
            <div class="container">
                <div class="d-flex align-items-center flex-wrap py_3 flex-column-reverse flex-md-row" style="gap: 12px;">
                    <p class="mr_md_auto">Copyright 2020 © Riocoporation - Asia</p>
                    <div class="d-flex align-items-center flex-column flex-md-row" style="gap:12px;">
                        <p onclick="window.location='/AboutUs'">About Us</p>
                        <div class="d-none d-md-block" style="border-left: 1px solid #4699E6;height:12px;width:0px;"></div>
                        <p >Cooperation policy</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/slick/jquery-migrate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script src="~/lib/slick/slick.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            if ($(window).width() < 768) {
                $(`.select2_custom`).css(`min-width`, `65px`);
                $(`.select2_custom`).css(`max-width`, `65px`);
                $(`.select2_custom`).select2({
                    templateResult: formatResult,
                    templateSelection: formatSelectionMobi,
                    minimumResultsForSearch: Infinity
                });
            } else {
                $(`.select2_custom`).select2({
                    templateResult: formatResult,
                    templateSelection: formatSelection,
                    minimumResultsForSearch: Infinity

                });
            }
            function formatResult(state) {
                console.log(state);
                var baseUrl = "/img/flag/";
                if (state.id == '') {
                    var $state = $(
                        '<span style="font-weight: 500;font-size: 14px;line-height: 24px;color: #303133;"><img src="' + baseUrl + state.element.getAttribute("data-lang").toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
                    );
                    return $state;
                }
                if (!state.id) {
                    return state.text;
                }

                var $state = $(
                    '<span style="font-weight: 500;font-size: 14px;line-height: 24px;color: #303133;"><img src="' + baseUrl + state.element.getAttribute("data-lang").toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
                );
                return $state;
            };
            function formatSelection(state) {
                var baseUrl = "/img/flag/";
                if (state.id == '') {
                    var $state = $(
                        '<span style="font-weight: 500;font-size: 14px;line-height: 24px;color: #303133;"><img src="' + baseUrl + state.element.getAttribute("data-lang").toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
                    );
                    return $state;
                }
                if (!state.id) {
                    return state.text;
                }


                var $state = $(
                    '<span><img class="img-flag" /> <span></span></span>'
                );

                // Use .text() instead of HTML string concatenation to avoid script injection issues
                $state.find("span").text(state.text);
                $state.find("img").attr("src", baseUrl + state.element.getAttribute("data-lang").toLowerCase() + ".png");

                return $state;
            };
            function formatSelectionMobi(state) {

                var baseUrl = "/img/flag/";
                if (state.id == '') {
                    state.text = "";
                    var $state = $(
                        '<span style="font-weight: 500;font-size: 14px;line-height: 24px;color: #303133;"><img src="' + baseUrl + state.element.getAttribute("data-lang").toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
                    );
                    return $state;
                }
                if (!state.id) {
                    return state.text;
                }


                var $state = $(
                    '<span><img class="img-flag" /> <span></span></span>'
                );

                // Use .text() instead of HTML string concatenation to avoid script injection issues
                $state.find("img").attr("src", baseUrl + state.element.getAttribute("data-lang").toLowerCase() + ".png");

                return $state;
            };
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
